<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" href = "front.css">
  <link rel = "stylesheet" href = "normalize.css">
  <title>SecURuS®︎HomEPaGE</title>
</head>
  <body>
    <div class = "header">
      <p class = "blank">
        
      </p>
      <h1 class = "header1">
        SecURuS®️
      </h1>
      <div class = "buttons">
        <a class = "button new" href = "#">
          SIGN-UP
        </a>
        <a class = "button log_in" href = "#">
          LOG-IN
        </a>
      </div>
    </div>
    <div class = "main">
      <div class = "slide" id = "makeImg">
        <img src = "images/IMG_1798 2.jpg"   alt = "photo1">
        <img src = "images/IMG_1797 2.jpg"    alt = "photo2">
        <img src = "images/IMG_1796 2.jpg"    alt = "photo3">
        <img src = "images/IMG_1799 2.jpg"    alt = "photo4">
        <img src = "images/IMG_1800 2.jpg"  alt = "photo5">
      </div>
      <div class = "side">
        <img class = "logo" src = "images/IMG_1663.jpg">
        <a class = "button news" href = "#">
          NEWS
        </a>
        <a class = "button pick_up" href = "#">
          PICK-UP
        </a>
        <a class = "button items" href = "#">
          ITEMS
        </a>
        <a class = "button e_mail" href = "#">
          E-MAIL
        </a>
        <a class = "button about_us" href = "#">
          ABOUT-US
        </a>
        <a class = "button instagram" href = "http://instagram.com/securus_official/">
          INSTAGRAM
        </a>
      </div>
      <div class = "about_us_details">
        <h2 class = "about_us_title">
          ABOUT-US
        </h2>
        <p class = "est">
          -EST.1996-
        </p>
        <p class = "explanation">
          ----  好きなものを好きなときに,自由気ままにデザインしカタチにする  ----
        </p>
      </div>
      <div class = "pick_up_details">
        <div class = "photo_line1">
          <a href = "item1.html">
          <img class = "item1" src = "images/IMG_7595.JPG">
          </a>
          <a href = "item2.html">
          <img class = "item2" src = "images/IMG_7588.jpg">
          </a>
          <a href = "item3.html">
          <img class = "item3" src = "images/IMG_1800.jpg">
          </a>
        </div>
        <div class = "photo_line2">
          <a href = "item4.html">
          <img class = "item4" src = "images/IMG_7613.jpg">
          </a>
          <a href = "item5.html">
          <img class = "item5" src = "images/IMG_7621.jpg">
          </a>
          <a href = "item6.html">
          <img class = "item6" src = "images/IMG_7624.jpg">
          </a>
        </div>
      </div>
    </div>
    <div class = form_email>
      <h3 class = "form_title">
        E-MAIL FORM
      </h3>
      <input class = "name" type = "text" name = "name" placeholder = "NAME">
      <textarea class = "text" type = "text" placeholder = "TEXT"></textarea>
      <input class = "send" type = "submit" value = "SEND">
    </div>
  </body>
</html>
